@media(max-width:1200px){
    .why_choose{
        margin-top:-70px;
    }
}
@media(max-width:992px){
    .digibank .content{
        h2{
            width:50%;
        }
    }
    footer{
        padding-bottom: 10px;
    }
    .why_choose{
        margin-top: -10%;
        .heading h2{
            margin: {
                top:45px;
                bottom:40px;
            }
        }
        .heading >h4{
            width:70%;
        }
    }
}

@media(max-width:800px){
    header {
    .mobile_icon{
        display:block;
    }
    .menu{
        display:none;
    }
    .invite button{
        display:none;
    }
    }
    .digibank {
        .image 
        {
        .bg3{
            width:100%;
            display:block;
        }
        .bg1{
            display:none;
        }
        .bg2{
            width:100%;
            position:absolute;
            left:0;
        }
        }
        .content {
            text-align: center;
            margin-top:-70px;
            margin-right:6%;
            h2{
            width:100%;
            margin-left:auto;
            margin-right:auto;
        }
    }
    }
    .why_choose{
        margin-top:-12%;
        text-align: center;
        .heading >h4{
            margin-left:auto;
            margin-right:auto;
        }
    }
    .latest_articles >h2{
        text-align: center;
    }
}

@media(max-width:576px){
    .digibank {
        .parent {
            flex-direction: column;
        }
        .image 
        {
            width:100%;
            overflow: visible;
        .bg3{
            width:100%;
            display:block;
        }
        .bg1{
            width:100%;
            position:absolute;
            display:block;
            top:-10%;
            left:0;
        }
        // .bg2{
        //     width:100%;
        //     position:absolute;
        //     left:0;
        //     top:-20%;
        // }
        &::before {
            content:"";
            display:none;
        }
        }
        .content {
            width:100%;
            h2{
            width:100%;
            font-size: 42px;
        }
    }
    }
    .why_choose .heading >h4{
        width:100%;
    }
    
}

